//at.alicdn.com/t/c/font_4149808_u1ezt8srgob.css
@import "//at.alicdn.com/t/c/font_4149808_kgqvqajkwql.css";
.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
