.appcontainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  background-color: var(--background-color);
}

.main {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-attachment: fixed;
  // align-items: flex-start;
  box-sizing: border-box;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.form-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
// 建立一个 只在 PC 端显示的样式

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

// 建立一个 只在 移动端 显示的样式

@media only screen and (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
  .flex-container {
    flex-direction: column;
  }
}
