.appcontainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
}

.main {
	margin: auto;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	padding: 20px;
	// background-image: url("/bg.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-attachment: fixed;
	// align-items: flex-start;
	box-sizing: border-box;
	align-items: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	margin: 10px 0;

	&.column {
		flex-direction: column;
	}
	&.row {
		flex-direction: row;
		justify-content: space-between;
	}
	&.center {
		justify-content: center;
	}

	&.start {
		justify-content: flex-start;
	}
	&.space-between {
		justify-content: space-between;
	}
}

.form-container {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

@mixin container {
	background-color: var(--white);
	// border: var(--border-in-default);
	border-radius: 20px;
	box-shadow: var(--shadow);
	color: var(--black);
	background-color: var(--white);
	min-width: 600px;
	min-height: 370px;
	max-width: 1200px;
	flex-grow: 1;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;

	width: var(--window-width);
	height: var(--window-height);
}

.container {
	@include container();
}

@media only screen and (min-width: 600px) {
	.tight-container {
		--window-width: 100vw;
		--window-height: calc(100vh - 165px);
		--window-content-width: calc(100% - var(--sidebar-width));

		@include container();

		max-width: 100vw;
		max-height: var(--full-height);

		border-radius: 0;
		border: 0;
		flex-direction: row;
	}
}

.window-content {
	width: var(--window-content-width);
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.mobile {
	display: none;
}

@media only screen and (max-width: 600px) {
	.container {
		min-height: unset;
		min-width: unset;
		max-height: var(--window-height);
		min-width: unset;
		border: 0;
		border-radius: 0;
		height: var(--window-height);
	}

	.login {
		padding: 0;
		overflow-y: scroll;
	}

	.mobile {
		display: block;
	}
}

.m-b-10 {
	margin-bottom: 10px;
}
.m-b-20 {
	margin-bottom: 20px;
}
// 建立一个 只在 PC 端显示的样式

@media only screen and (min-width: 768px) {
	.mobile-only {
		display: none !important;
	}
}

// 建立一个 只在 移动端 显示的样式

@media only screen and (max-width: 768px) {
	.desktop-only {
		display: none !important;
	}
	// .flex-container {
	//   flex-direction: column;
	// }
}
