.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--footer-height);
    width: 100%;
    color: #666;
    text-align: center;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
  
    background-color: #fef2f2;
    background-image: linear-gradient(to left, #fefefe 0%, #ddeafe 99%);
    
  }
  