.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  width: 100%;
  color: rgb(91, 105, 230);
  font-weight: 600;
  text-align: center;
  padding: 0 20px;

  // background-color: #fef2f2;
  background: linear-gradient(to bottom right, #f2fdfe 0%, #ecfafd 100%);
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-attachment: fixed;

  :global .ant-form-inline {
    align-items: center;
  }

  // a {
  //   height: 100%;
  // }
}

.logo {
  margin-left: 15px;
  margin-right: 40px;
  height: inherit;
  display: flex;
  flex-direction: row;

  .logo-img {
    height: inherit;
    margin-right: 10px;

    img {
      height: 100%;
    }
  }
  .logo-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(87 87 87);
    text-align: left;
    margin-left: 15px;

    .headline {
      letter-spacing: 3px;
      line-height: 0.5rem;
    }

    .subline {
      font-size: 1rem;
      letter-spacing: 1px;
      line-height: 0.5rem;
    }
  }
}
.ant-menu {
  flex-grow: 1;
  font-size: 15px;

  :global .ant-menu-horizontal {
    border-bottom: none;
  }
  :global .ant-menu-title-content {
    .anticon {
      margin-right: 10px;
    }
  }
}

.header-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: white;
    color: #282c34;
  }
}
.login-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .avatar {
    // width: 30px;
    // height: 30px;
    // display: inline-block;
    margin: 10px;
    position: relative;
  }
}

// mobile version
@media (max-width: 768px) {
  .header {
    height: 40px;
    padding: 0 10px;

    flex-direction: row;

    .logo {
      margin: auto;
      width: auto;
      // justify-content: center;
      // align-items: center;
      img {
        height: 100%;
      }
      .logo-text {
        font-size: 1rem;
        margin: auto 25px;
        line-height: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        .headline {
          letter-spacing: 1px;
          margin: auto 10px;
        }
        .subline {
          font-size: 0.8rem;
          letter-spacing: 1px;
        }
      }
    }
    .header-button {
      padding: 5px 10px;
      font-size: 0.8rem;
    }
  }
  .ant-menu {
    display: none;
  }
}
