.header {
	display: flex;
	justify-content: flex-start;
	// align-items: center;
	height: var(--nav-height);
	width: 100%;
	font-weight: 600;
	text-align: center;

	background: linear-gradient(to right, var(--color-set1));

	:global .ant-form-inline {
		align-items: center;
	}

	// a {
	//   height: 100%;
	// }
}

.logo {
	margin-left: 15px;
	height: inherit;
	display: flex;
	flex-direction: row;
	position: relative;

	.logo-img {
		height: inherit;
		margin-right: 20px;

		img {
			height: 100%;
		}
	}
	.logo-text {
		font-size: 1.2rem;
		font-weight: 600;
		color: var(--black);
		text-align: left;
		margin-left: 35px;

		.headline {
			letter-spacing: 3px;
			line-height: 0.2rem;
		}

		.subline {
			font-size: 1rem;
			letter-spacing: 1px;
			line-height: 0.2rem;
		}
	}
}
.ant-menu {
	font-size: 15px;
	flex-grow: 2;

	:global .ant-menu-horizontal {
		border-bottom: none;
	}
	:global .ant-menu-title-content {
		.anticon {
			margin-right: 10px;
		}
	}
	:global .ant-menu-item {
		height: 50px;
		color: var(--black);
		&:hover {
			color: var(--active) !important;
			&::after {
				border-bottom-color: var(--active) !important;
			}
		}
	}
	:global .ant-menu-item-selected,
	:global .ant-menu-item-active {
		color: var(--active) !important;
		&::after {
			border-bottom-color: var(--active) !important;
		}
	}
}

.header-button {
	background-color: transparent;
	border: 2px solid var(--white);
	color: var(--white);
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	&:hover {
		background-color: var(--white);
		color: var(--black);
	}
}
.login-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;

	.avatar {
		margin: 10px;
		position: relative;
		display: inline;
	}
	// 在该clas是下所有的子元素 margin 都为 0 10px
	> * {
		margin: 0 10px;
	}
}

// mobile version
@media (max-width: 768px) {
	.login-wrapper {
		width: unset;
	}

	.header {
		height: 40px;
		padding: 0 10px;

		flex-direction: row;

		.logo {
			margin: auto;
			width: auto;
			// justify-content: center;
			// align-items: center;
			img {
				height: 100%;
			}
			.logo-text {
				font-size: 1rem;
				margin: auto 25px;
				line-height: 0.5rem;
				height: 100%;

				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: row;
				.headline {
					letter-spacing: 1px;
					margin: auto 10px;
				}
				.subline {
					font-size: 0.8rem;
					letter-spacing: 1px;
				}
			}
		}
		.header-button {
			padding: 5px 10px;
			font-size: 0.8rem;
		}
	}
	.ant-menu {
		display: none;
	}
}

.icons {
	color: var(--black);
}
