.user-info-wrapper {
	padding: 5px 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	display: flex;
	justify-content: space-around;
	align-items: center;
	backdrop-filter: blur(15px);

	.user-info {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
		border-radius: 8px;

		.user-profile {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		.user-name-type {
			display: flex;
			flex-direction: column;
		}

		.user-nickname {
			font-weight: bold;
			font-size: 1rem;
		}

		.user-type {
			font-size: 0.8rem;
			color: #666;
		}

		.user-details {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			p {
				margin: 0;
				font-size: 0.8rem;
			}
		}

		.user-actions {
			align-self: flex-start;
			width: 20px;
			height: 20px;
		}
	}

	// mobile version
	@media (max-width: 768px) {
		.login-wrapper {
			width: unset;
		}
	}
}
