.user-info-wrapper {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(15px);

	.user-info {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		padding: 0.5rem;
		border-radius: 8px;
		width: 100%;

		.user-profile {
			display: flex;
			align-items: center;
			gap: 0.75rem;
		}

		.user-name-type {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
		}

		.user-nickname {
			font-weight: bold;
			font-size: 1rem;
		}

		.user-type {
			font-size: 0.75rem;
			color: #666;
		}

		.user-details {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			p {
				margin: 0;
				font-size: 0.75rem;
			}
		}

		.user-actions {
			align-self: flex-end;
			width: 24px;
			height: 24px;
			margin-bottom: 0.5rem;
		}
	}

	// mobile version
	@media (max-width: 768px) {
		padding: 8px;
		border-radius: 6px;
		width: initial;

		.user-info {
			gap: 0.5rem;
			padding: 0.25rem;

			.user-profile {
				gap: 0.5rem;
			}

			.user-nickname {
				font-size: 0.9rem;
			}

			.user-type {
				font-size: 0.7rem;
			}

			.user-details {
				display: none;
			}

			.user-actions {
				width: 30px;
				height: 30px;
			}
		}
	}
}
