.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;

	@media screen and (max-width: 768px) {
		max-height: 80vh; // 设置最大高度为视口高度
		overflow-y: auto; // 允许垂直滚动
		padding: 20px 0; // 添加一些垂直内边距
	}
}

.banner {
	width: 100%;
	// margin-bottom: 20px;
	position: relative;
	height: 304px;

	@media screen and (max-width: 768px) {
		position: absolute;
		top: -200px;
		width: 100%;
	}
}

.qrcode {
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
}

.title {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
	color: var(--black);
	background-image: linear-gradient(117deg, #0547ff -84%, #d683ff 125%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.subtitle {
	margin-bottom: 10px;
	font-size: 22px;
	color: var(--subtitle-color);
	border-bottom: 1px solid #eee;
	display: block;
	font-weight: bold;
}
.description {
	margin-bottom: 10px;
	font-size: 16px;
	text-align: left;
	display: flex;
	text-align: center;

	.description-item {
		margin-left: 10px;
		margin-right: 10px;
		width: 30%;

		.description-title {
			font-size: 18px;
			font-weight: bold;
			color: var(--subtitle-color);
		}

		.description-content {
			font-size: 14px;
			color: var(--description-color);
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;

		.description-item {
			width: 90%;
			margin-bottom: 20px;
		}
	}
}
.buttons {
	display: flex;
	justify-content: space-around;
	gap: 10px;
}

@media screen and (max-width: 768px) {
	.title,
	.subtitle {
		font-size: 20px;
		transform: none;
		margin-bottom: 10px;
	}

	.description-title {
		font-size: 16px;
		transform: none;
	}

	.description-content {
		font-size: 14px;
		transform: none;
	}

	.buttons {
		flex-direction: column;
		align-items: center;
	}

	.button {
		width: 80%;
		margin-bottom: 10px;
	}
}

.update-content {
	border-radius: 8px;
	padding: 20px;
	display: flex;
	width: 100%;

	.update-title {
		font-size: 1.2rem;
		font-weight: bold;
		color: #1890ff;
		margin-bottom: 10px;
	}

	.update-image-container {
		flex: 1;
		margin-right: 20px;
	}

	.update-image {
		object-fit: contain;
	}

	.update-text-container {
		flex: 2;
		text-align: left;
	}

	.update-list {
		list-style-type: none;
		padding-left: 0;
		overflow-y: auto;
		height: 200px;

		li {
			position: relative;
			padding-left: 20px;
			margin-bottom: 8px;
			font-size: 0.9rem;
			color: #333;
			text-align: start;

			&:before {
				content: "•";
				position: absolute;
				left: 0;
				color: #1890ff;
				font-size: 1.2rem;
			}
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;

		.update-image-container {
			margin-right: 0;
			margin-bottom: 20px;
		}

		.update-list {
			height: auto;
			max-height: 300px;
		}
	}
}
