.auth-page {
	padding-top: 50px;
	margin: 0 auto;
	background: linear-gradient(to right, var(--color-set1));

	.welcome-header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 20px;
		text-align: center;
		margin: 0 auto;

		.auth-title {
			font-size: 34px;
			font-weight: bold;
			line-height: 2;
		}

		.auth-tips {
			font-size: 24px;
		}
	}
}

.ant-tabs-nav-wrap {
	display: flex;
	justify-content: space-around;
}

.modal-actions {
	display: flex;
	justify-content: center;

	button {
		margin-left: 20px;
	}
}
