@font-face {
  font-family: "iconfont"; /* Project id 4149808 */
  src: url('iconfont.woff2?t=1690908761909') format('woff2'),
       url('iconfont.woff?t=1690908761909') format('woff'),
       url('iconfont.ttf?t=1690908761909') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-bilibili:before {
  content: "\e844";
}

.icon-xiaohongshu:before {
  content: "\e633";
}

.icon-chongwuzhijia:before {
  content: "\1012e";
}

.icon-qiuzhuwenda:before {
  content: "\10130";
}

.icon-xuanchuantuiguang:before {
  content: "\10133";
}

.icon-a-009_wodetuandui:before {
  content: "\e62f";
}

.icon-jita:before {
  content: "\e6ed";
}

.icon-a-009_liuchengshenpi:before {
  content: "\e62d";
}

.icon-richangjilu:before {
  content: "\10127";
}

.icon-chongwushijie:before {
  content: "\1012b";
}

.icon-qiuzhijianli:before {
  content: "\1012c";
}

.icon-xiuxianxiawucha:before {
  content: "\1012d";
}

.icon-baogao:before {
  content: "\e8ca";
}

.icon-linggan:before {
  content: "\e8cb";
}

.icon-yuyin:before {
  content: "\e8cc";
}

.icon-wode:before {
  content: "\e8cd";
}

