// Agent section

// src/components/ChatArea/multi-agents.module.scss
.aiConfigCard {
	// Card样式
	.ant-card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.sliderContainer {
	width: 100%;
	margin: 10px 0;

	p {
		text-align: left;
	}

	.ant-slider {
		margin: 0 12px;
	}
}

.background {
	background-color: var(--white);
}

.welcome-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
}
.title {
	margin: 20px auto;
	font:
		500 24px/29px "Roboto",
		sans-serif;
	color: var(--black);
	font-weight: bold;
	background-image: linear-gradient(117deg, #0547ff -84%, #d683ff 125%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.sub-title {
	text-align: center;
	font:
		400 16px/19px "Roboto",
		sans-serif;
	color: var(--black);
}
.actions {
	.action-button {
		margin: 10px;
	}
}
