// Agent section

// src/components/ChatArea/multi-agents.module.scss
.aiConfigCard {
	// Card样式
	.ant-card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.sliderContainer {
	width: 100%;
	margin: 10px 0;

	p {
		text-align: left;
	}

	.ant-slider {
		margin: 0 12px;
	}
}

.background {
	background-color: var(--white);
}

.welcome-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
}
.title {
	margin: 20px auto;
	font:
		500 24px/29px "Roboto",
		sans-serif;
	color: var(--black);
	font-weight: bold;
	background-image: linear-gradient(117deg, #0547ff -84%, #d683ff 125%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.sub-title {
	text-align: center;
	font:
		400 16px/19px "Roboto",
		sans-serif;
	color: var(--black);
}
.actions {
	.action-button {
		margin: 10px;
	}
}

.conversationWrapper {
	height: 90vh;
	display: flex;
	flex-direction: column;
}

.conversationCard {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.chatbodyContainer {
	flex: 1;
	overflow-y: auto;
}

.inputContainer {
	flex-shrink: 0;
}

// ============== conversation header
.windowHeader {
	border-bottom: 1px solid #f0f0f0;
}

.headerContent {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.topRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
}

.title {
	margin: 0;
}
.memory {
	margin: 0;
	color: var(--light-gray);
	font-size: 0.8rem;
	width: 400px;
	text-overflow: ellipsis;
	background-color: #f0f0f0;

	.ant-tooltip-inner {
		background-color: #f0f0f0;
	}
}

.buttonGroup {
	display: flex;
	gap: 8px;
}

.infoRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.roundInfo {
	color: rgba(0, 0, 0, 0.45);
}

.modeSelector {
	min-width: 120px;
}

// =========messageItem
.emptyState {
	text-align: center;
	padding: 20px;
	color: #888;
}

.loadingMore {
	text-align: center;
	padding: 10px;
	color: #888;
}

.messageItem {
	display: flex;
	margin-bottom: 16px;
}

.userMessage {
	justify-content: flex-end;
}

.agentMessage {
	justify-content: flex-start;
}

.avatar {
	margin-right: 12px;
}

.messageContent {
	max-width: 70%;
}

.messageHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
	font-size: 0.9em;
	color: #888;
}

.sender {
	font-weight: bold;
}

.timestamp {
	font-size: 0.8em;
}
