.container {
	padding: 30px;
	overflow: scroll;
}
.fileInfo {
	margin-left: 20px;
	color: #666;
	font-size: 12px;
}

.progress {
	margin-top: 16px;
}

.table {
	margin-top: 16px;
}

.pagination {
	margin-top: 16px;
	text-align: right;
}
