@import "@/app/styles/animation.scss";

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

.gallery-container {
	overflow-y: auto;
	height: calc(80vh - 40px);
}
// Masonry布局的样式
.masonry-grid {
	display: flex;
	// margin-left: -30px; // 间隙大小
	width: auto;
	// overflow: auto;
	padding: 20px 10px;
}
.masonry-grid_column {
	padding-left: 10px; // 间隙大小
	background-clip: padding-box;
}
.masonry-grid-item {
	animation: slide-in ease 0.3;
	margin: auto;
}

// 图片样式
.gallery-image {
	// 你可以在这里添加额外的样式，比如边框、阴影等
	margin-bottom: 10px; // 图片之间的间隙
	width: 100%; // 使图片填满容器
	object-fit: cover; // 保持图片的纵横比
	border-radius: 5px;
}

.gallery-image-mask {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	height: 100%;

	.gallery-image-mask-actions {
		display: flex;
		justify-content: space-between;
	}
}

.image-preview-modal {
	.modal-content {
		@include flex-column; // 默认为 column 布局

		@media (min-width: 768px) {
			// PC 端使用 row 布局
			@include flex-row;
		}

		.modal-image-wrapper {
			flex: 2; // 图片部分占 3/4

			img {
				max-height: 70vh;
			}
		}

		.modal-info {
			flex: 2; // 文本信息部分占 1/4
		}

		// src/components/YourComponent.module.scss
		.modal-info {
			padding: 16px; // 可根据实际需求调整
			margin: 16px 0; // 可根据实际需求调整

			.modal-info-item {
				margin-bottom: 12px; // 为每个信息项添加间距

				.modal-info-label {
					font-weight: bold; // 可根据实际需求调整
					margin-right: 8px; // 为标签和内容添加间距
				}

				.modal-info-content {
					display: inline-block;
					// 可添加更多样式
				}
			}

			.modal-info-action {
				// 可添加按钮样式
				display: flex;
				align-items: center;

				// 子元素之间添加间距
				& > * + * {
					margin-left: 10px;
				}
			}
		}

		// 其他样式...
	}
}
