// 基础样式
.tarot-card {
	--var-width: 100px;
	position: relative;
	width: (var(--var-width)); // 为了保持卡片的宽高比（1.75:1）
	height: calc(var(--var-width) * 1.75);
	margin: 10px;
	perspective: 1000px; // 为子元素的 3D 转换提供透视效果
	cursor: pointer;

	// 卡片阴影
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	&:hover {
		// 伪元素 mask
		transform: scale(1.1);
		transition: transform 0.2s;
	}
}

.shuffleCard {
	.tarot-card {
		margin: 0 -50px;
	}
}

.tarot-card-face {
	position: relative; // 修改为 relative 以便正常显示
	width: 100%;
	height: 100%;
	background-color: #e6e6e6;
	// backface-visibility: hidden; // 隐藏翻转后的背面
	border-radius: 10px;
	transition: transform 0.6s; // 将翻转动画应用于卡面

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}
}
.tarot-card-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: transform 0.6s; // 将翻转动画应用于卡面
}
// 卡牌内容样式
.tarot-card-content {
	padding: 5px;
	text-align: center;
	font-size: 12px;

	// 文字样式
	.tarot-card-name,
	.tarot-card-chinese-name,
	.tarot-card-meaning {
		margin: 5px 0;
	}
}
// 逆位卡牌样式
.reversed {
	transform: rotate(180deg);
}

// 翻转动画
.flipped {
	transform: rotateY(180deg); // Y 轴旋转 180 度来实现翻转效果
	cursor: default; // 翻转后隐藏鼠标指针
}
