@import "common.module.scss";

.flexcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px auto;
}

.welcomeText {
	font-size: 1.2rem;
	margin: 20px 0;
	text-align: center;
	background: -webkit-linear-gradient(white, #38495a);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	.title {
		font-size: 1.5rem;
		height: 40px;
		margin: 10px 0;
	}
	.subtitle {
		height: 40px;
		margin: 10px 0;

		transition: all 2s ease-in;
	}
}
.questionInput {
	// width: 200px;
	width: 80%;
	height: 40px;

	:global .ant-input {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #fff;
		color: #fff;
		width: 50%;
		margin: 0 auto;
		display: block;
		transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		text-overflow: ellipsis;
	}
	// input placeholder color
	:global .ant-input::placeholder {
		color: rgba(255, 255, 255, 0.5);
	}
	// input focus color
	:global .ant-input:focus {
		border-color: #fff;
		width: 80%;
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
	}
}

.welcomeText,
.questionInput {
	opacity: 0;
	transition: opacity 2s ease-in;
}

.tarotButtonPrimary {
	opacity: 0;
	transition:
		opacity 2s ease-in,
		background-color 0.5s,
		color 0.5s,
		box-shadow 0.5s;
}
.responseText,
.responseTextSmall {
	font-size: 1.2rem;
	margin: 10px 0;
	text-align: center;
	background: -webkit-linear-gradient(white, #8f8f8f);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.responseTextSmall {
	font-size: 1.1rem;
}

.fadeIn {
	// opacity: 0;
	animation: fadeInAnimation 2s forwards;
}

.fadeOut {
	opacity: 1;
	animation: fadeOutAnimation 2s forwards;
}

@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOutAnimation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		height: 0;
		margin: 0;
	}
}
