@import "common.module.scss";

.spreadHeader {
	text-align: center;
}
.tarotSpreadContainer {
	position: relative;
	// width: 100%;
	// height: 100%;
	min-height: 650px;
	max-height: 650px;
	display: flex;
	// 可以根据需要添加更多样式，例如背景、边框等

	.tarotSpreadPositions {
		// 设置一个容器以保持所有卡片位置

		margin: 0 auto;

		.tarotSpreadPosition {
			position: absolute;
			// 确保卡片位置使用绝对定位
		}
	}
	.interpretation {
		flex-basis: 35%;

		margin: 10px;
		padding: 10px;
		// background: rgb(18 14 14 / 45%);
		background: radial-gradient(
			ellipse at center,
			rgb(123 37 177 / 48%) 0%,
			rgb(14 12 12 / 45%) 100%
		);
		box-shadow: 9px 5px 20px 9px rgb(187 104 239 / 58%);
		backdrop-filter: blur(5px);
		max-height: inherit;
		border-radius: 15px;
		overflow-y: scroll;

		@media screen and (max-width: 768px) {
			flex-basis: 100%;
			transform: translateY(100%);

			&.drawer {
				transform: translateY(100%);
				transition: transform 0.3s ease-in-out;
				z-index: 1000;
			}

			&.drawer.open {
				transform: translateY(0);
			}
		}

		.interpretationHeader {
			margin: inherit;
			padding: inherit;
			margin-bottom: 10px;
			display: flex;
			justify-content: space-between;
			align-items: baseline;

			p {
				padding: 0;
				margin: 0;
			}
			.interpretationSwitchText {
				font-size: 0.875rem;
				color: #fff;
				margin: 0 7px;
			}

			.interpretationSwitch {
				background-color: #ae96c2;

				&.ant-switch.ant-switch-checked {
					background-color: red;
				}
			}
			.interpretationTitle {
				font-size: 1.2rem;
				padding: 0;
			}
		}

		.interpretationText {
			font-size: 0.875rem;
			white-space: pre-line;
			margin: inherit;
			padding: inherit;
		}

		.interpretationCollapse {
			color: #fff;

			:global .ant-collapse-item {
				background: transparent;
				// border: none;
				color: #fff;

				.ant-collapse-header {
					color: #fff;
				}
				.ant-collapse-expand-icon {
					color: #fff;
				}
				.ant-collapse-content {
					background: rgba(255, 255, 255, 0.1);
					-webkit-backdrop-filter: blur(10px);
					backdrop-filter: blur(79px);
					border-radius: 7px;
					color: #fff;
				}
			}
		}
		svg path,
		svg rect {
			fill: #b660fc;
		}
	}
}
