@use "@/app/styles/animation.scss";

//================= container =======================

.layout-row-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.background {
	background-color: var(--white);
}

//================= modal =======================
.agent-list {
	height: 500px;
	overflow: auto;
	padding: 0 16px;
	border-left: 1px solid rgba(140, 140, 140, 0.35);
	border-radius: 4px;

	:global .ant-list-items {
		.ant-list-item-meta {
			.ant-list-item-meta-title {
				font-size: 14px;
				font-weight: 500;
				color: rgba(0, 0, 0, 0.88);
			}
			.ant-list-item-meta-description {
				font-size: 12px;
				color: rgba(0, 0, 0, 0.45);
			}
		}
	}
}
//================= session list =======================
.session-container {
	display: flex;
	flex-direction: row;
	overflow: auto;
	padding: 10px;
	justify-content: flex-start;
	border-bottom: var(--border-in-default);

	.session-description {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		.session-title {
			font-size: 16px;
			font-weight: 600;
		}
		.session-subtitle {
			margin-left: 10px;
			font-size: 12px;
			color: rgba(0, 0, 0, 0.45);
		}
	}
	.plus {
		height: 38px;
		margin-left: 5px;
	}
}
.session-list {
	display: flex;
	flex-direction: row;
	//   overflow: auto;
	padding: 10px;
	padding-top: 0;
	box-sizing: border-box;
	position: relative;
	height: 100%;

	.session-item {
		margin: 0 50px;
		border: var(--border-in-default);
	}
}

//================= welcome =======================

.welcome-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(var(--window-height) - 90px);
	padding: 20px;
	box-sizing: border-box;
	overflow: auto;
	position: relative;
	flex: 1;
	text-align: center;

	.title {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px;
		background-image: linear-gradient(117deg, #0547ff -84%, #d683ff 125%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		button {
			margin: 20px;
			-webkit-text-fill-color: #000;
		}
	}
	.sub-title {
		font-size: 16px;
		margin-bottom: 20px;
	}
}

//================= Chatbody =======================
.chats-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
	flex-grow: 1;
	height: calc(var(--window-height) - 90px);
	overflow: scroll;
}
.chat {
	min-width: 30%;
	width: 50%;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.chat-body {
	flex: 1;
	overflow: auto;
	overflow-x: hidden;
	padding: 20px;
	padding-bottom: 40px;
	position: relative;
	overscroll-behavior: none;
}

.chat-body-main-title {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

@media only screen and (max-width: 600px) {
	.chat-body-title {
		text-align: center;
	}
}

.chat-message {
	display: flex;
	flex-direction: row;

	&:last-child {
		animation: slide-in ease 0.3s;
	}
}

.chat-message-user {
	display: flex;
	flex-direction: row-reverse;

	.chat-message-header {
		flex-direction: row-reverse;
	}
}

.chat-message-header {
	margin-top: 20px;
	display: flex;
	align-items: center;

	.chat-message-actions {
		display: flex;
		box-sizing: border-box;
		font-size: 12px;
		align-items: flex-end;
		justify-content: space-between;
		transition: all ease 0.3s;
		transform: scale(0.9) translateY(5px);
		margin: 0 10px;
		opacity: 0;
		pointer-events: none;

		.chat-input-actions {
			display: flex;
			flex-wrap: nowrap;
		}
	}
}

.chat-message-container {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&:hover {
		.chat-message-edit {
			opacity: 0.9;
		}

		.chat-message-actions {
			opacity: 1;
			pointer-events: all;
			transform: scale(1) translateY(0);
		}
	}
}

.chat-message-user > .chat-message-container {
	align-items: flex-end;
}

.chat-message-avatar {
	position: relative;

	.chat-message-edit {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: all ease 0.3s;

		button {
			padding: 7px;
		}
	}
}
.chat-message-checkmark {
	display: inline-block;
	margin-right: 5px;
	height: 12px;
	width: 12px;
	color: #13a10e;
	fill: #13a10e;
	user-select: none;
	backface-visibility: hidden;
	transform: translateZ(0px);
}
.chat-message-tools-status {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	margin-top: 5px;
	line-height: 1.5;
}

.chat-message-tools-name {
	color: #aaa;
}

.chat-message-tools-details {
	margin-left: 5px;
	font-weight: bold;
	color: #999;
}

.chat-message-status {
	font-size: 12px;
	color: #aaa;
	line-height: 1.5;
	margin-top: 5px;
}

.chat-message-item {
	box-sizing: border-box;
	max-width: 100%;
	margin-top: 10px;
	border-radius: 10px;
	background-color: rgb(173 172 255 / 10%);
	box-shadow: var(--card-shadow);
	padding: 10px;
	font-size: 14px;
	user-select: text;
	word-break: break-word;
	position: relative;
	transition: all ease 0.3s;
}

.chat-message-action-date {
	font-size: 12px;
	opacity: 0.2;
	white-space: nowrap;
	transition: all ease 0.6s;
	color: var(--black);
	text-align: right;
	width: 100%;
	box-sizing: border-box;
	padding-right: 10px;
	pointer-events: none;
	z-index: 1;
}

.chat-message-user > .chat-message-container > .chat-message-item {
	background-color: var(--second);

	&:hover {
		min-width: 0;
	}
}

.chat-input-panel {
	position: relative;
	width: 100%;
	padding: 20px;
	padding-top: 10px;
	box-sizing: border-box;
	flex-direction: column;
	border-top: var(--border-in-default);
	box-shadow: var(--card-shadow);

	.chat-input-actions {
		.chat-input-action {
			margin-bottom: 10px;
		}
	}
}

@mixin single-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.prompt-hints {
	min-height: 20px;
	width: 100%;
	max-height: 50vh;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;

	background-color: var(--white);
	border: var(--border-in-default);
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: var(--shadow);

	.prompt-hint {
		color: var(--black);
		padding: 6px 10px;
		animation: slide-in ease 0.3s;
		cursor: pointer;
		transition: all ease 0.3s;
		border: transparent 1px solid;
		margin: 4px;
		border-radius: 8px;

		&:not(:last-child) {
			margin-top: 0;
		}

		.hint-title {
			font-size: 12px;
			font-weight: bolder;

			@include single-line();
		}

		.hint-content {
			font-size: 12px;

			@include single-line();
		}

		&-selected,
		&:hover {
			border-color: var(--primary);
		}
	}
}

.chat-input-panel-inner {
	display: flex;
	flex: 1;
}

.chat-input {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	border: var(--border-in-default);
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.03);
	background-color: var(--white);
	color: var(--black);
	font-family: inherit;
	padding: 10px 90px 10px 14px;
	resize: none;
	outline: none;
	box-sizing: border-box;
	min-height: 68px;
}

.chat-input:focus {
	border: 1px solid var(--primary);
}

.chat-input-send {
	background-color: var(--primary);
	color: white;

	position: absolute;
	right: 30px;
	bottom: 32px;
}

@media only screen and (max-width: 600px) {
	.chat-input {
		font-size: 16px;
	}

	.chat-input-send {
		bottom: 30px;
	}
}

.chat-item {
	padding: 5px 14px;
	background-color: var(--white);
	border-radius: 10px;
	margin-bottom: 5px;
	box-shadow: var(--card-shadow);
	transition: background-color 0.3s ease;
	cursor: pointer;
	user-select: none;
	border: 2px solid transparent;
	position: relative;
	content-visibility: auto;
	border: 1px solid var(--border-in-default);

	&.multi-chat {
		margin-bottom: 0;
		margin: 0 10px 0 10px;
		border: var(--border-in-default);

		// .chat-item-title {
		// 	// text-overflow: unset;
		// 	// white-space: unset;
		// }
	}
}

.chat-item-title {
	font-size: 13px;
	// font-weight: bolder;
	display: block;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	animation: slide-in ease 0.3s;
}
.chat-item-subtitle {
	font-size: 10px;
	color: rgb(166, 166, 166);
	animation: slide-in ease 0.3s;
	margin: 5px;
}

.chat-item-delete,
.chat-item-edit {
	position: absolute;
	bottom: 0;
	right: 0;
	transition: all ease 0.3s;
	opacity: 0;
	cursor: pointer;
}
.chat-item-edit {
	bottom: 0;
	right: 20px;
}

.chat-item:hover > .chat-item-delete,
.chat-item:hover > .chat-item-edit {
	opacity: 0.5;
	transform: translateX(-4px);
}

.chat-item:hover > .chat-item-delete:hover,
.chat-item:hover > .chat-item-edit:hover {
	opacity: 1;
}

.chat-item-info {
	// display: flex;
	justify-content: space-between;
	position: absolute;
	right: 15px;
	color: rgb(166, 166, 166);
	font-size: 12px;
	// margin-top: 8px;
	animation: slide-in ease 0.3s;
}
.chat-item-date {
	color: rgb(166, 166, 166);
	font-size: 12px;
	animation: slide-in ease 0.3s;
}
.chat-item-count,
.chat-item-date {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.chat-item {
	position: relative;
	overflow: hidden;
}

.chat-item-delete-mobile {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: darkred;
	color: white;
}
